<%# Publisher Company Logo %>
<div class="container text-center">
  <% if @publisher.id == 1 || @publisher.id == 2 %>
    <img src="<%= @publisher.logo %>" width="330px" height="330px" class="img-thumbnail"  alt="logo">
  <% else %>
    <img src="<%= @publisher.logo %>" class="img-thumbnail"  alt="logo">
  <% end %>
</div>
<br/>

<%# Filter Search and Pagination navbar %>
<div class="container-md">
  <div class="row">
    <div class="col-md-7">
      <%= form_tag "/publishers/#{params[:id]}", method: :get do %>
        <%= select_tag :author_id, options_from_collection_for_select(@writer, 'id', "first_name"), include_blank: "Author" %>
        <%= submit_tag "Search"%>
      <% end %>
      <% if params.has_key?(:author_id) && Writer.exists?(id: params[:author_id])%>
        <p class= "mb-1">
          You are searching for <%= @publisher.name %>
          written by <%= @writer_name.first_name %>
          <%= @writer_name.last_name %>
        </p>
        <p><%= link_to "Clear Filter", "/publishers/#{params[:id]}" %></p>
      <% end %>
    </div>
    <div class="col-md-5 float-end"><%= paginate @comic_result %></div>
  </div>
</div>

<%# Published Comics in the collection %>
<table class="table table-sm">
  <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Release</th>
        <th scope="col">Price</th>
        <th scope="col">Writer</th>
        <th scope="col">Edition</th>
        <th scope="col">Format</th>
      </tr>
      <tbody class="table-group-divider">
      <% @comic_result.each do |comic| %>
      <tr>
        <td><%= link_to comic.title, comic %></td>
        <td><%= comic.release_date %></td>
        <% if comic.cover_price.nil? %>
          <td><em>n/a</em></td>
        <% else %>
          <td>$<%= comic.cover_price %></td>
        <% end %>
        <td><%= link_to comic.writer.first_name + " " + comic.writer.last_name, "/writers/" + comic.writer_id.to_s %></td>
        <td><%= comic.edition.edition %></td>
        <td><%= comic.format.format %></td>
      </tr>
      <% end %>
     </tbody>
  </thead>
</table>
