<h1><%=@writer.first_name + " " + @writer.last_name%></h1>
<p>List of comics he has worked on</p>

<%= paginate @comic_result %>
<table class="table table-sm">
  <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Release</th>
        <th scope="col">Price</th>
        <th scope="col">Writer</th>
        <th scope="col">Edition</th>
        <th scope="col">Format</th>
      </tr>
      <tbody class="table-group-divider"></tbody>
      <% @comic_result.each do |comic| %>
      <tr>
        <td><%= link_to comic.title, comic %></td>
        <td><%= comic.release_date %></td>
        <% if comic.cover_price.nil? %>
          <td><em>n/a</em></td>
        <% else %>
          <td>$<%= comic.cover_price %></td>
        <% end %>
        <td><%= link_to comic.writer.first_name + " " + comic.writer.last_name, "/writers/" + comic.writer_id.to_s %></td>
        <td><%= comic.edition.edition %></td>
        <td><%= comic.format.format %></td>
      </tr>
      <% end %>
     </tbody>
  </thead>
</table>